package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;
import ${packageName}.domain.bo.${ClassName}Bo;
#if($table.crud || $table.sub)
import com.ruoyi.common.core.page.TableDataInfo;
import com.ruoyi.common.core.domain.PageQuery;
#end

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * ${functionName}
     */
    ${ClassName}Vo queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud || $table.sub)
    /**
     *
     */
    TableDataInfo<${ClassName}Vo> queryPageList(${ClassName}Bo bo, PageQuery pageQuery);
#end

    /**
     *
     */
    List<${ClassName}Vo> queryList(${ClassName}Bo bo);

    /**
     * ${functionName}
     */
    Boolean insertByBo(${ClassName}Bo bo);

    /**
     * ${functionName}
     */
    Boolean updateByBo(${ClassName}Bo bo);

    /**
     * ${functionName}
     */
    Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids, Boolean isValid);
}
